
body {
    position: relative;
    min-height: 100vh;
    margin: 0px;
    padding-bottom: 50px;
    background-color: #000000;
}
#input-container {
    overflow: hidden;
    position: fixed; 
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    height: 30px;
    position: relative;
    width: 100%;
    padding: 0px;
    border: 0px;
    background-color: #000;
    margin: 0px;
    border-radius: 0px;
    display: flex;
    color: rgb(0, 255, 0);
    border-top: 1px solid lightgray;
}

.input:focus {
    outline: none;
    background-color: #121212;
}

.submit {
    padding: 5px 1px;
    border: none;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
    width: 5%;
    height: 30px;
}
p {
    font-size: 15px;
    color: rgb(0, 255, 0);
    font-family: 'Consolas';
    line-height: 10px;
}

pre{
    font-family: 'Consolas';
    text-align: center;
    font-size: 15px;
    color: rgb(0, 255, 0);
    line-height: 19px;
}

.center{
    text-align: center;
}

.symbo{
    color: aliceblue;
    margin: 0px 9px;
}

.syntax{
    color: aquamarine;
    margin-left: 28px;
    position: fixed;
    bottom: 20px;
}
.syntax p{
    color: aquamarine;
    background: #262626;
    line-height: 20px;
    height: 20px;
    margin: 0px;
}